<h1>Add New Post</h1>
<% if @post.errors.any? %>
  <div class="post-errors-box">
    <p><%= pluralize(@post.errors.count, "error") %> found:</p>

    <ul class="post-errors-ul">
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>

<%= form_with url: "/users/new/posts/create", model: @post, method: :post do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title%>
  <br />
  <%= form.label :text %>
  <%= form.text_field :text%>
  <br />
  <%= form.submit%>
<% end %>
